{% extends 'base.html' %}
{% block title %}References{% endblock %}

{% block content %}
<div class="card">
    <h1 class="section-title">References</h1>
    <ul>
        <li>Constitution of India (Legislative Department, Govt of India)</li>
        <li>Supreme Court Reports (SCR)</li>
        <li>"Introduction to the Constitution of India" by D.D. Basu</li>
        <li><a href="https://en.wikipedia.org/wiki/Constitution_of_India">Wikipedia - Constitution of India</a>
            (Supplementary)</li>
    </ul>
</div>
{% endblock %}